.post-area {
  padding: 10px 100px;
}

.rogin-btn {
  color: white;
  margin-top: 20px;
  font-size: 2rem;
  padding: 10px 30px;
  background-color: blue;
  border: 2px solid blue;
  color: #fff !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.rogin-btn:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black !important;
    border-radius: 30px;
}

.form_profile {
  background: rgba(255,255,255,0.4);
  padding: 100px 0px;
}

.self_content {
  background-color: black;
  padding-bottom: 200px;
  padding-top: 200px;
}

.title {
  color: white;
  padding-top:20px;
}
